<div class="main">
  <div class="home_header">
    <%= image_tag "https://amdarchitectsph.com/wp-content/uploads/2019/04/home-banner-header-image.png", class: "home_header_picture" %>
    <div class="container d-flex justify-content-center align-items-center">
      <h1 class="home_header_header centered d-flex justify-content-center">Home Page for Web shop</h1>
    </div>
  </div>
</div>

<div class="container">
  <div class="home_section" style="padding-top: 100px; padding-bottom: 100px;">
    <div class="d-flex row justify-content-center align-items-center ">
      <div class="home_section_card  col-lg-4 col-sm-12">
        <a href="/teddies">
          <%= image_tag "https://shop.alma-ras.com/pub/media/wysiwyg/category_baner/MLA_0066a.jpg", class: "slika_card" %>
          <div class="container d-flex justify-content-center align-items-center"><h3 class="home_card centered justify-content-center">Zene</h3></div>
        </a>
      </div>
      <div class="home_section_card col-lg-4 col-sm-12">
        <a href="/teddies">
          <%= image_tag "https://shop.alma-ras.com/pub/media/wysiwyg/category_baner/MLA_0539a.jpg", class: "slika_card" %>
           <div class="container d-flex justify-content-center align-items-center"><h3 class="home_card centered d-flex justify-content-center">Muskarci</h3></div>
        </a>
      </div>
      <div class="home_section_card  col-lg-4 col-sm-12">
        <a href="/teddies">
          <%= image_tag "https://shop.alma-ras.com/pub/media/wysiwyg/category_baner/KD_ws_main.png", class: "slika_card" %>
          <div class="container d-flex justify-content-center align-items-center"><h3 class="home_card centered d-flex justify-content-center">Djeca</h3></div>
        </a>
      </div>
  </div>
</div>
