.navbar-lewagon {
  justify-content: space-between;
  background-color: white;
}
.nav-link{
  font-family: "Poppins";
  font-weight:500;
  text-transform: uppercase;
  color:black;
  transition: all 0.3s ease;
  margin: 0 15px;
}
.nav-link:hover{
  color:gold;
}
.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 140px;
  height: 50px;
  object-fit: cover;

}
.navbar-toggler{
  border: 0 ;
}



.mobile{
.nav-link-2{
  font-family: "Poppins";
  font-weight:500;
  text-transform: uppercase;
  color:black;
  transition: all 0.3s ease;
  margin: 0 15px;
}
.navbar-brand img {
  width: 140px;
  height: 50px;
  object-fit: cover;
}
body{
    margin: 0;
    padding: 0;
    background: #FFFC85
}
.toggle{

    top: 40px;
    left: 40px;
    z-index: 2
}
.toggle a{
    text-decoration: none;
    color: #262626;
    font-size: 24px;
    cursor: pointer;
}
.menu{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #FFF;
    z-index: 1;
    transition: 0.5s;
}
ul{
    margin: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
ul li{
    list-style: none;
}

ul li a{
    padding: 10px;
    display: inline-block;
    font-family: verdana;
    font-size: 2em;
    text-decoration: none;
    text-transform: uppercase;
    color: #262626;
}
ul li a:hover{
    background: #FFFC85
}
.menu.active{
    left: 0;
    overflow: auto;
}
}

@media only screen and (min-width: 800px) {
  .mobile{
    display: none;
  }
}
@media only screen and (max-width: 800px) {
  .navbar-lewagon{
    display: none;
  }
}

